.jk__whatjk {
    display: flex;
    flex-direction: column;

    padding: 2rem 20rem;
    background: var(--color-footer);

   /* ff 3.6+ */
   background:-moz-radial-gradient(circle at 3% 0%, rgba(70, 70, 70, 1) 0%, rgba(16, 16, 16, 0.97) 100%);

   /* safari 5.1+,chrome 10+ */
   background:-webkit-radial-gradient(circle at 3% 0%, rgba(70, 70, 70, 1) 0%, rgba(16, 16, 16, 0.97) 100%);

   /* opera 11.10+ */
   background:-o-radial-gradient(circle at 3% 0%, rgba(70, 70, 70, 1) 0%, rgba(16, 16, 16, 0.97) 100%);

   /* ie 10+ */
   background:-ms-radial-gradient(circle at 3% 0%, rgba(70, 70, 70, 1) 0%, rgba(16, 16, 16, 0.97) 100%);

   /* global 92%+ browsers support */
   background:radial-gradient(circle at 3% 0%, rgba(70, 70, 70, 1) 0%, rgba(16, 16, 16, 0.97) 100%);
   filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.25));
}

.jk__whatjk-feature {
    display: flex;
    
}

/* Customizing feature component as per needs */
.jk__whatjk-feature .jk__features-container__feature {
    margin: 0px;
    
}

/* Customizing feature component as per needs */
.jk__whatjk-feature .jk__features-container_feature-text {
    max-width: 700px;
}

.jk__whatjk-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 4rem 0 2rem;
}

.jk__whatjk-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}

.jk__whatjk-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.jk__whatjk-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

/* Customizing feature component as per needs */
.jk__whatjk-container .jk__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
    
}

/* Customizing feature component as per needs */
.jk__whatjk-container .jk__features-container_feature-text {
    margin-top: 0.5rem;
}
@media screen and (max-width: 850px) {
    .jk__whatjk-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .jk__whatjk-heading p {
        margin-top: 1rem;
    }
    .jk__whatjk {
  
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .jk__whatjk-feature .jk__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .jk__whatjk-feature .jk__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .jk__whatjk-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
    .jk__whatjk {
  
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 480px) {
    /* Customizing feature component as per needs */
    .jk__whatjk-container .jk__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;

    }
    .jk__whatjk {
  
        padding: 2rem 1rem;
    }
}