.gradient__text{
    font-family: var(--font-family);
    text-align: left;
}
.linkedin-icon{
    width:5%; height:auto; display: block; margin: auto; border-radius: 20px;padding-top: 1rem; min-width: 5%;
}
.copyright{

    font-family:var(--font-family);
    color: var(--color-text);

    text-align: right;
}

@media screen and (max-width: 650px) {
    .linkedin-icon{
        min-width: 10%;
    }
}

@media screen and (max-width: 490px) {
    .linkedin-icon{
        min-width: 10%;
    }
}